<%- include("./partials/header") %>
<div class="container">
    <h1 class="text-center text-success">Login</h1>
    <div style="width:40%; margin: 25px auto;">
        <form action="/login" method="POST">
            <label><h5>Name</h5></label>
            <div class="form-group">
                <input class="form-control" type="text" name="username">
            </div>
            <label><h5>Password</h5></label>
            <div class="form-group">
                <input class="form-control" type="password" name="password">
            </div>
            <button type="submit" class="btn btn-outline-primary">Login</button>
        </form>
    </div>
</div>

<%- include("./partials/footer") %>