body {
  background: #f9f9f9;
}

label {
  color: grey;
}

.bottom-footer {
  margin-top: 10%;
  margin-bottom: 0;
  padding-bottom: 0;
  position: absolute;
  bottom: auto;
  width: 100%;
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1452967712862-0cca1839ff27?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
}

.delete-button {
  display: inline;
}

/* Google Maps */
#map {
  height: 400px;
  width: 100%;
}

.seeker-form {
  width:40%; 
  margin: 25px auto;
}

.comment-date {
  font-size: .75em;
}

textarea {
  height: 200px;
}
@media only screen and (max-width: 1100px) {
  .container {
    max-width: 90%;
  }
  
  .seeker-form {
    width:60%; 
    margin: 25px auto;
  }
  .comment_text {
    font-size: 1.2rem;
  }
  list-style: none;
}