body {
  background: #f9f9f9;
}

label {
  color: grey;
}

.bottom-footer {
  margin-top: 10%;
  margin-bottom: 0;
  padding-bottom: 0;
  position: absolute;
  bottom: auto;
  width: 100%;
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/mantra-media-XPvhzVIeETM-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
}

.delete-button {
  display: inline;
}

/* Google Maps */
#map {
  height: 400px;
  width: 100%;
}

.seeker-form {
  width:40%; 
  margin: 25px auto;
}

.comment-date {
  font-size: .75em;
}

@media only screen and (max-width: 1100px) {
  .seeker-form {
    width:60%; 
    margin: 25px auto;
  }
}

.list-group {
  list-style: none;
}